// Define variables for your color scheme

// For example:
$red: #930214;
$blue: #265994;
$yellow: #F4DF87;
$orange: #FB9E04;
$green: #417505;

$light-gray: #F4F4F4;
$dark-gray: #393939;
$gray: #9B9B9B;

$flash-blue: #07FFF0;
