// Define variables for your color scheme

// For example:
$red: #930214;
$flash-blue: #07FFF0;
$blue: #265994;
$yellow: #F4DF87;
$orange: #FB9E04;
$green: #417505;
$dark-gray: #2E2F30;
$gray: #9B9B9B;
$light-gray: #F4F4F4;
