.accueil {
  display: flex;
  height: 100vh;
  width: 100%;
  font-size: 24px;
  color: white;
}

.accueil h1 {
  font-size: 30px;
}

.accueil-wrapper {
  height: 100vh;
  text-align: left;
  padding: 100px 80px 0px 80px;
}

.logo-ben {
  width: 250px;
  height: 160px;
  border-radius: 10px;
}

.logo-ben h2 {
  font-family: 'Titan One', cursive;
  font-size: 24px;
  color: white;
}

#developper {
  animation: fill 2s ease forwards 1.2s;
}
#developper path:nth-child(1){
  stroke-dasharray: 534px;
  stroke-dashoffset: 534px;
  animation: line-anim 2s ease forwards;
}
#developper path:nth-child(2){
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  animation: line-anim 2s ease forwards;
}
#developper path:nth-child(3){
  stroke-dasharray: 374px;
  stroke-dashoffset: 374px;
  animation: line-anim 2s ease forwards;
}
#developper path:nth-child(4){
  stroke-dasharray: 381px;
  stroke-dashoffset: 381px;
  animation: line-anim 2s ease forwards 0.5s;
}

#developper path:nth-child(5){
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  animation: line-anim 2s ease forwards 0.5s;
}

#developper path:nth-child(6){
  stroke-dasharray: 236px;
  stroke-dashoffset: 236px;
  animation: line-anim 2s ease forwards 0.5s;
}

#developper path:nth-child(7){
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  animation: line-anim 2s ease forwards 0.5s;
}
#developper path:nth-child(8){
  stroke-dasharray: 159px;
  stroke-dashoffset: 159px;
  animation: line-anim 2s ease forwards 0.5s;
}
#developper path:nth-child(9){
  stroke-dasharray: 289px;
  stroke-dashoffset: 289px;
  animation: line-anim 2s ease forwards 0.5s;
}
#developper path:nth-child(10){
  stroke-dasharray: 387px;
  stroke-dashoffset: 387px;
  animation: line-anim 2s ease forwards 0.5s;
}
#developper path:nth-child(11){
  stroke-dasharray: 387px;
  stroke-dashoffset: 387px;
  animation: line-anim 2s ease forwards 0.5s;
}
#developper path:nth-child(12){
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  animation: line-anim 2s ease forwards 0.5s;
}
#developper path:nth-child(13){
  stroke-dasharray: 164px;
  stroke-dashoffset: 164px;
  animation: line-anim 2s ease forwards 0.5s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill{
  from{
    fill: transparent;
  }
  to{
    fill: white;
  }
}

.accueil-picture{
  height: 100vh;
  width: 100%;
}
.accueil-picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px){
  .accueil {
    display: block;
  }

  .accueil-wrapper {
    height: 50vh;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
  }

  .accueil-picture{
    height: 40vh;
    width: 100%;
  }
}

.homepage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('front-page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .home-content {
  text-align: center;
}

.homepage h1 {
  color: white;
  font-family: 'Titan One', cursive;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.homepage p {
  font-size: 20px;
  margin-bottom: 100px;
}

.homepage .btn-reserve {
  border: solid 3px $orange;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: $orange;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.8);
}

.homepage .btn-reserve a {
  text-decoration: none;
}

.homepage .btn-reserve:hover {
  text-decoration: none;
  color: $orange;
  background: transparent;
}

.frontpage {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('ice.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontpage h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: $white;
  max-width: 600px;
  padding: 30px 15px;
  text-align: center;
}

.frontpage p {
  font-size: 18px;
  font-style: italic;
  color: $light-gray;
  text-align: center;
  max-width: 600px;
}
