// *********** ANIMATION TEXT ***********
.animation-text {
  background-color: #191919;
  color: #FFFFFF;
  min-height: 50vh;
  display: grid;
  place-items: center;
  perspective: 500px;
}

$width: 17px;

.animation-text-container {
  display: flex;
}

.panel {
  position: relative;
  width: $width;
  height: 100px;
//  border: solid 1px white;
  overflow: hidden;
  animation: text 3s var(--delay) forwards ease-in-out;
}

.panel::before {
  position: absolute;
  content: 'NOUVEAU';
  font-size: 85px;
  width: max-content;
  left: var(--left);
  color: hsl(var(--hue), 75%, 75%);
}

@for $i from 0 to 24 {
  .panel:nth-child(#{$i + 1}) {
    --left: #{$width * $i * -1};
    --hue: #{360/24*$i};
    --delay: #{$i * 0.1s};
  }
}

@keyframes text {
  0%, 15% {
    transform: rotateX(0deg);
  }
  85%, 100% {
    transform: rotateX(720deg);
  }
}



// ********* ANIMATION CARDS **********
.animation,
.animation-css {
  width: 100%;
  background-color: #FFFFFF;
}

.animation {
  height: 60vh;
}

.box-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 450px;
  height: 250px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: #243567;
}

.box-text {
  margin-left: 1rem;
  position: relative;

}

.box-title {
  font-size: 32px;
  font-weight: lighter;
  color: white;
}

.box-subtitle {
  font-size: 18px;
  color: white;
}

.box-btn {
  border-style: none;
  padding: 10px 20px;
  color: #243567;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  right: 2rem;
  bottom: -19.5px;
}

.wrapper-boxes {
  padding: 50px 10px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.animated-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  text-align: center;
  border: solid 1px $dark-gray;
  border-radius: 5px;
  margin-right: 10px;
  color: $dark-gray;
  overflow: hidden;
}
.animated-box h3 {
  font-weight: bold;
  text-transform: uppercase;
}

