.section-contact {
  background-image: image-url('map-image.png');
  background-size: cover;
  height: 100vh;
}

.contact-form-wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 50px 15px;
  color: $light-gray;
}

h1.form-title {
  font-weight: bold;
  font-size: 40px;
}

p.subtitle {
  font-style: italic;
  font-size: 24px;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

label {
  margin-bottom: 0px !important;
  color: $flash-blue;
  font-size: 13px;
  text-align: left;
}

input, textarea {
  background-color: $dark-gray;
  opacity: 0.8;
  border: 1px solid #555657;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  color: #f4f4f4;
  outline-color: $flash-blue !important;
}

input {
  height: 50px;
}

textarea {
  height: 96px;
}

.btn-submit {
  color: $flash-blue;
  padding: 10px 25px;
  margin: 25px 0px;
  border: 2px solid $flash-blue;
  border-radius: 50px;
  width: 150px;
}

.btn-submit:hover {
  color: black;
  background-color: $flash-blue;
}

button.btn.btn-submit {
  font-weight: bold !important;
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    width: 90%;
  }
}
