.container-reservations {
  background-color: #f4f4f4;
  color: #393939;
  padding: 60px 0 80px 0;
}

.reservation-form {
  max-width: 400px;
  margin: 50px auto;
}

.form-group {
  width: 100%;
}

label.label-form {
  color: black !important;
  font-weight: bold !important;
}

.button-reservation {
  background-color: red;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 0 !important;
}
p.error {
  color: red;
  margin-bottom: 0px
}
