<section class="accueil">
  <div class="accueil-wrapper">
    <h1>
      Hello, <br>
      My name is Benoit, <br>
    </h1>
    <%= render 'pages/dev' %>
  </div>
  <div class="accueil-picture">
    <%= image_tag ('code.jpg') %>
  </div>
</section>
