<section class="animation">
  <h1>Animation with Gsap</h1>
  <div class="box-container">
    <svg class="b-logo" width="203px" height="203px" viewBox="0 0 203 203" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

      <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.99">
        <g id="Assets" transform="translate(-2185.000000, -1045.000000)">
          <g transform="translate(2187.000000, 1047.000000)">
            <circle id="Oval" stroke="#000000" stroke-width="3" fill="#FFFFFF" fill-rule="nonzero" cx="99.5" cy="99.5" r="99.5"></circle>
            <circle id="Oval" stroke="#000000" fill="#FFFFFF" fill-rule="nonzero" cx="100" cy="100" r="92"></circle>
            <text id="B" font-family="AcademyEngravedLetPlain, Academy Engraved LET" font-size="160" font-weight="normal" fill="#000000">
              <tspan x="48.3984375" y="150">B</tspan>
            </text>
          </g>
        </g>
      </g>
    </svg>
    <div class="box-text">
      <h2 class="box-title">Lorem Ipsum</h2>
      <p class="box-subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet...</p>
      <button class="box-btn" >More</button>
    </div>
  </div>
</section>

<section class="animation-css">
  <h1>Animation with CSS only</h1>
  <div class="animation-container">
    <div class="wrapper-boxes">
      <div class="animated-box">
        <h3 class="fadeSlideDown">Fade Slide Down</h3>
      </div>
      <div class="animated-box ">
        <h3 class="slideDown">Slide Down</h3>
      </div>
      <div class="animated-box">
        <h3 class="expandOpen">Expand Open</h3>
      </div>
      <div class="animated-box slideLeft">
        <h3>Fade Left</h3>
      </div>
      <div class="animated-box pulse">
        <h3>Pulse</h3>
      </div>
      <div class="animated-box">
        <h3 class="fadeIn">Fade In</h3>
      </div>
      <div class="animated-box pullUp">
        <h3>Pull Up</h3>
      </div>
      <div class="animated-box pullDown">
        <h3>Pull Down</h3>
      </div>
      <div class="animated-box">
        <h3 class="bounce">Bounce</h3>
      </div>
      <div class="animated-box stretchLeft">
        <h3>Stretch Left</h3>
      </div>
      <div class="animated-box">
        <h3 class="floating">FLOATING</h3>
      </div>
      <div class="animated-box hatch">
        <h3>HATCH</h3>
      </div>
      <div class="animated-box bigEntrance">
        <h3>Big Entrance</h3>
      </div>
      <div class="animated-box">
        <h3 class="tossing">TOSSING</h3>
      </div>
      <div class="animated-box stretchRight">
        <h3>Stretch Right</h3>
      </div>
      <div class="animated-box ">
        <h3 class="stretchRight">Stretch Right</h3>
      </div>
      <div class="animated-box slideExpandUp">
        <h3>Slide Expand Out</h3>
      </div>
      <div class="animated-box expandUp">
        <h3>Expand Up</h3>
      </div>

    </div>

  </div>
</section>
