<div class="cards-section">
  <div class="cards-container">
    <div class="card" data-tilt>
      <div class="content">
        <h2>01</h2>
        <h3>Card One</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dicta, voluptatibus explicabo, soluta aspernatur quisquam!</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="card" data-tilt>
      <div class="content">
        <h2>02</h2>
        <h3>Card Two</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dicta, voluptatibus explicabo, soluta aspernatur quisquam!</p>
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="card" data-tilt>
      <div class="content">
        <h2>03</h2>
        <h3>Card Three</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dicta, voluptatibus explicabo, soluta aspernatur quisquam!</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="flipcard-section">
  <div class="flipcard">
    <div class="face front">
      <h2>RECTO</h2>
    </div>
    <div class="face back">
      <h2>VERSO</h2>
    </div>
  </div>
</div>

<div class="carte-section">
  <div class="carte">
    <div class="imgbox">
      <%= image_tag 'nash-2.WebP' %>
      <%= image_tag 'nash-1.WebP' %>
    </div>
    <div class="carte-details">
      <div class="carte-content">
        <h2>NASH <br> <span>Maine Coon</span></h2>
        <div class="social-icons">
          <a href="#"><i class= "fab fa-facebook" area-hidden="true"></i></a>
          <a href="#"><i class= "fab fa-twitter" area-hidden="true"></i></a>
          <a href="#"><i class= "fab fa-linkedin" area-hidden="true"></i></a>
          <a href="#"><i class= "fab fa-instagram" area-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
