<div class="contact">
  <div class="form-wrapper">
    <h1 class="title">contact</h1>
    <p>Let's talk about your project !</p>
    <div class="form">
      <div class="input-form">
        <label for="name" class="label-name">Name:</label>
        <input type="text" name="name" autocomplete="off" required />
      </div>

      <div class="input-form">
        <label for="email" class="label-name">Email:</label>
        <input type="email" name="email" autocomplete="off" required />
      </div>

      <div class="input-form" id="textarea">
        <label for="message" class="label-name">Message:</label>
        <textarea row="3" id="message" name="message" required ></textarea>
      </div>

      <button type="submit" class="btn btn-submit">
        <i class="far fa-paper-plane"></i>
          Send
      </button>
    </div>
  </div>
</div>
