<section class="home">
  <div class="home-wrapper">
    <h1>
      Hi, <br>
      I'm Benoit, <br>
    </h1>
    <%= render 'pages/dev' %>
  </div>
  <div class="home-picture">
    <%= image_tag ('code.jpg') %>
  </div>
</section>
