<div class="animation-rotate-section">
  <div class="scene">
    <div class="banner">
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
      <div class="panels"></div>
    </div>
    <div class="screen"></div>
  </div>
</div>
