<div class="icons-section">
  <div class="title-section">
    <h1>Home Maid Icons</h1>
  </div>
  <div class="icons-gallery">
    <div class="icon-card">
      <%= image_tag '' %>
    </div>
  </div>
</div>
