<div class="container-404">
  <div class="wrapper-404">
    <div class="error-title">
      404
    </div>
    <div class="error-text">
      PAGE NOT FOUND
    </div>
    <div class="error-link">
      <%= link_to 'PAGE D\'ACCUEIL', root_path, class:"btn-error" %>
    </div>
  </div>
</div>
