<div class="section-404">
  <div class="error-devil"></div>
  <div class="error-link text-center">
    <%= link_to 'GET OUT', root_path, class:"btn-error" %>
  </div>
</div>

<div class="error-404">
  <div class="content-404">
    <h1>OUPS ! <br> THIS PAGE DOES NOT EXIST.</h1>
    <p>ERROR 404</p>
  </div>
</div>
