<div class="projects">
  <div class="title-projects">
    <span>p</span>
    <span>r</span>
    <span>o</span>
    <span>j</span>
    <span>e</span>
    <span>c</span>
    <span>t</span>
    <span>s</span>
  </div>
  <div class="projects-wrapper">

  </div>
</div>
