<div class="starwars">
  <h1>
    CAVE <span class="cave">DU</span> PALAIS <br>
    <span class="cave">DE</span> JUSTICE
  </h1>
  <div id="titles">
    <div id="titlecontent">
      <p>Vous êtes à la recherche depuis des années lumières d'une bouteille que vous ne trouvez pas chez votre caviste habituel.</p>
      <p>Que la force soit avec vous et défiez dès à présent les experts de la Cave du Palais de Justice pour vous trouver cette perle rare.</p>
      <p>Remplissez le formulaire Star Wines ci dessous en précisant les détails de la bouteille recherchée. Nous reviendrons vers vous dans les plus brefs délais.</p>
      <p>Vous pouvez également venir à nous directement à la cave située Place Bourg-de-Four 1 dans la vieille ville de Genève</p>
      <div class="img text-center">
        <%= image_tag 'flying-bottle.png' %>
      </div>
    </div>
  </div>
</div>

