.footer {
  background-color: #000000;
  padding: 40px 0px 15px 50px;
  margin: 0;
}

.footer-body .footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-link {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 14px;
  width: 150px;
}

.footer-footer p {
  font-size: 11px;
  font-weight: bold;
  color: #AAA;
}
