.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-gray;
  height: 72px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 0 30px;
  z-index: 1000;
}


#nav-logo {
  padding:0 10px 0 10px;
  height: 30px;
}

#brand {
  font-family: 'Titan One', cursive;
  font-size: 24px;
  color: $orange;
}

.my-navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  letter-spacing: 2px;
  color: $light-gray;
  height: 72px;
  display: flex;
  align-items: center;
}

a.nav-link {
  margin-right: 40px;
}

a.nav-link:hover {
  color: $orange;
  font-weight: bold;
  border-bottom: solid 3px $orange;
}

button.navbar-toggler {
  color: #F1E4D3 !important;
}

.transition {
  height: 100px;
  width: 100%;
  padding: 40px 40px;
  background-color: $cream;
}

.transition hr {
  color: white;
  border: solid 3px red;
}
